.section-contacts
    padding-top: 67px
    position: relative
    overflow: hidden
    z-index: 100
    
.contacts__container
    box-sizing: content-box
    padding-left: 0
    display: flex
    flex-flow: column
    align-items: center

// ----------------------------------------

.logo-wrapper
    width: 100%
    height: 460px
    margin-top: 45px
    display: flex
    align-items: center
    justify-content: center
    background-color: $main-bg
    z-index: -1
    margin-bottom: 593px
    position: relative

    &::before
        content: ""
        width: 100%
        height: 1000px
        background-color: $bg-dark
        position: absolute
        bottom: -1000px
        left: 0


.contacts__logo
    background-color: $bg-light
    margin-top: -106px
    padding: 10px 0
    width: 166px
    height: 63px
    padding-left: 37px
    padding-right: 37px
    position: relative

    &::before
        content: ""
        position: absolute
        width: 20px
        height: 20px
        bottom: -10px
        left: 50%
        transform: translate(-50%) rotate(45deg)
        background-color: $bg-light

// ----------------------------------------

.contacts__wrapper
    position: absolute
    width: 960px
    padding-top: 39px
    padding-right: 50px
    padding-bottom: 50px
    padding-left: 50px
    display: flex
    bottom: 76px
    left: 50%
    transform: translate(-50%)
    background-color: $bg-light
    z-index: 99


.form__wrapper
    display: flex
    flex-flow: column
        

.form__label
    color: $title
    font-size: 14px
    line-height: 26px
    margin-left: 8px
    position: relative

    &::after
        content: "required"
        position: absolute
        top: 0 
        right: 7px
        color: $main-bg
        font-size: 12px
        line-height: 26px

.form__wrapper:nth-child(3) .form__label::after
    display: none


.form__input
    width: 506px
    height: 46px
    margin-bottom: 18px
    padding-left: 15px
    padding-right: 15px
    border: 1px solid $border-input
    font-family: $main-font
    font-size: 14px


.form__textarea
    height: 200px
    resize: none
    padding-top: 15px


.form__button
    padding: 10px 0
    padding-left: 26px
    padding-right: 30px
    background-color: $main-bg
    margin-top: 14px
    color: $bg-light
    font-size: 14px
    font-weight: 700
    line-height: 26px
    transition: 0.3s

    &:hover
        background-color: $light-bg


// ----------------------------------------

.contactinfo
    margin-left: 74px
    padding-top: 9px

.contactinfo__headline
    color: $title
    font-size: 23px
    font-weight: 700
    line-height: 26px

.contactinfo__text
    color: $contactinfo-text
    font-size: 14px
    line-height: 20px
    margin-top: 22px
    
.contactinfo__list
    display: flex
    flex-flow: column
    justify-content: center
    margin-top: 50px


.contactinfo__item
    margin-bottom: 42px
    display: flex


.comtactinfo__wrapper
    display: flex
    flex-flow: column
    margin-left: 30px

.contactinfo__contacts
    word-wrap: break-word
    max-width: 208px
    display: inline-block
    color: $title
    font-size: 18px
    line-height: 22px


// ----------------------------------------


@media screen and ( max-width: $desktop-width )


    .logo-wrapper
        height: 220px
        margin-bottom: 590px

    .contacts__wrapper
        bottom: 0
        width: 100%
        padding-top: 39px
        padding-right: 20px
        padding-bottom: 20px
        padding-left: 20px

    // ----------------------------------------

    .form__input
        width: 360px

    
@media screen and ( max-width: $tablet-width )

    .logo-wrapper
        margin-bottom: 860px
        height: 220px

    .contacts__wrapper
        min-height: 930px
        bottom: 0
        padding-top: 39px
        padding-right: 10px
        padding-bottom: 20px
        padding-left: 10px
        flex-flow: column-reverse
        justify-content: flex-start

    // ----------------------------------------

    .form__wrapper
        align-items: center

    .form__label
        width: 300px
    
    .form__input
        width: 300px

    .form__button
        display: block
        margin: 0 auto
        margin-top: 14px

    // ----------------------------------------

    .contactinfo
        margin-left: 0
        align-items: center

    .contactinfo__headline
        text-align: center

    .contactinfo__text
        text-align: center

    .contactinfo__list
        margin-top: 20px
        align-items: center

    .contactinfo__item
        align-items: center
        margin-bottom: 10px

    .contactinfo__img
        height: 30px
        width: 20px

    .contactinfo__contacts
        font-size: 14px