.footer
    background-color: $footer

.footer__container
    display: flex
    justify-content: space-between
    align-items: center
    padding: 23px 130px

.copyright
    color: $copyright
    font-size: 15px
    line-height: 22.11px

.arrow_up
    margin-left: -130px

.footer__social
    margin-right: 0



