.section-menu
    border-bottom: 1px solid $bottom-line
    width: 100%
    position: relative

.menu__container
    display: flex
    justify-content: space-between
    align-items: center

// ----------------------------------------

// logo style in common.sass

// ----------------------------------------

.main-nav
    padding-top: 21px
    padding-bottom: 20px
    padding-left: 15px
    padding-right: 15px
    width: 100%

.menu-button
    display: none
    width: 80px
    height: 40px
    background-color: $main-bg
    color: $bg-light
    font-family: "Open Sans"
    font-size: 14px
    font-weight: 700
    line-height: 26px

.main-nav__list
    display: flex
    flex-flow: row
    max-width: 480px
    margin: 0 auto
    justify-content: space-between

.main-nav__link
    color: $main-menu
    font-size: 14px
    transition: 0.3s

    &:hover
        color: $title

    &:active
        color: $title

// ----------------------------------------

.social
    height: 30px
    display: flex
    align-items: center

.social__item
    display: block
    overflow: auto
    height: 17px
    overflow: hidden

    &:not(:first-child)
        margin-left: 14px

.social__link
    font-size: 1px
    vertical-align: top
    transition: 0.3s

    &:hover
        filter: brightness(0.8)


// ----------------------------------------


@media screen and ( max-width: $desktop-width )

    
    .social
        margin-right: 0


@media screen and ( max-width: $tablet-width )

    .menu__logo
        order: 1

    // ----------------------------------------
    
    .menu-button
        display: block

    .main-nav
        padding: 5px 0
        order: 3
        width: 80px
        display: flex
        justify-content: flex-end
        box-sizing: content-box

    .main-nav__list
        display: none
        position: absolute
        top: 82px
        left: 0
        max-width: 100%
        width: 100%
        z-index: 9999

    .main-nav__item
        background-color: $bg-light
        border-bottom: 1px solid $bottom-line
        padding-top: 20px
        padding-bottom: 20px

    .main-nav__link
        display: block
        text-align: center
        width: 100%
        height: 100%

    // ----------------------------------------

    .social
        order: 2
    