.section-portfolio
    padding-top: 58px
    z-index: 99
    
// ----------------------------------------

.portfolio__filter
    display: flex
    justify-content: center
    margin: 0 auto
    margin-top: 41px

.filter__item
    color: $filter
    font-size: 16px
    padding-bottom: 3px
    cursor: pointer
    transition: 0.3s
    border-bottom: 1px solid transparent

    &:not(:last-child)
        margin-right: 40px

    &:hover
        color: $title
        border-bottom: 1px solid $filter
    

// ----------------------------------------

.portfolio__list
    margin: 0 auto
    margin-top: 50px
    display: flex
    max-width: 2000px
    justify-content: center

.portfolio-wrapper
    max-width: 100%
    margin: 0 auto

.portfolio__item
    width: 25%
    height: 300px
    position: relative
    cursor: pointer
    background: #000
    overflow: hidden
    

.portfolio__link
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    width: 100%
    height: 100%

.portfolio__img
    max-width: 100%
    min-height: 100%
    object-fit: cover
    transition: 0.5s

// ----------------------------------------

.portfolio__item_hover
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    text-align: center
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    opacity: 0
    transition: 0.5s
    
.portfolio__link:hover .portfolio__img
    opacity: 0.5
    transition: 0.5s

.portfolio__link:hover .portfolio__item_hover
    opacity: 1
    transition: 0.5s


.portfolio__text
    color: $bg-light
    font-size: 18px
    font-weight: 700
    margin-bottom: 3px
    margin-top: 15px

.portfolio__span
    color: $bg-light
    font-size: 16px


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg 
	opacity: 0
	-webkit-backface-visibility: hidden
	-webkit-transition: all 0.3s ease-out 
	-moz-transition: all 0.3s ease-out 
	-o-transition: all 0.3s ease-out 
	transition: all 0.3s ease-out


.mfp-with-zoom.mfp-ready .mfp-container 
	opacity: 1

.mfp-with-zoom.mfp-ready.mfp-bg 
	opacity: 0.8


.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg 
	opacity: 0


// ----------------------------------------
@media screen and ( max-width: 1200px )

    .portfolio__item
        width: 33.3%

@media screen and ( max-width: $desktop-width )

    .portfolio__item
        width: 50%
        height: 230px

@media screen and ( max-width: $tablet-width )

    .portfolio__filter
        justify-content: center
        flex-wrap: wrap
        margin-top: 20px

    .filter__item
        display: inline
        padding: 0 10px
        padding-bottom: 10px

    .portfolio__list
        margin-top: 20px

    .portfolio__item
        width: 50%
        height: 251px

@media screen and ( max-width: 570px )

    .portfolio__item
        height: 200px

@media screen and ( max-width: 480px )

    .portfolio__item
        width: 100%
        height: 230px

    
@media screen and ( max-width: $mobile-width )

    .portfolio__item
        width: 100%
        height: 230px